src/main/resources/dtd/nutz-sqltpl.dtd

<?xml version="1.0" encoding="UTF-8" ?>
        <!ELEMENT Sqls (var|sql)>
        <!ATTLIST Sqls class CDATA (#IMPLIED)>

        <!ELEMENT var (#PCDATA)>
        <!ATTLIST var name CDATA (#REQUIRED)>

        <!ATTLIST sql id CDATA (#REQUIRED)>
        <!ATTLIST sql wrap CDATA (#PCDATA)>

        <!ELEMENT sql (exp)>
        <!ELEMENT exp (#PCDATA)>
        <!ATTLIST exp CDATA (#IMPLIED)>


