src/main/resources/dtd/nutz-sqltpl.dtd

<?xml version="1.0" encoding="UTF-8" ?>
        <!ELEMENT Sqls (sql|var)>
        <!ATTLIST Sqls>

        <!ELEMENT sql (exp|#PCDATA)>
        <!ELEMENT exp (#PCDATA)>
        <!ATTLIST sql
                id CDATA #REQUIRED>
        <!ATTLIST sql
                wrap CDATA #PCDATA>
        <!ELEMENT var (#PCDATA)>
        <!ATTLIST var
                name CDATA #REQUIRED>